.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(40, 40, 40, 0.8);
  color: white;
  position: fixed; /* 位置を固定 */
  width: 100%;
  z-index: 99;
  height: 70px;
  border-bottom: 6px solid rgb(211, 75, 75);
  backdrop-filter: blur(5px);
}

.header.top {
  background-color: transparent;
  backdrop-filter: none;
  border-bottom: 6px solid transparent; /* topに戻るときの赤線を透明にする */
  transition: border-bottom 0.5s, background-color 0.5s;

}

.header.scrolled {
  background-color: rgba(40, 40, 40, 0.8); /* スクロールしたときの色 */
  transition: all 0.5s;

}

.logo img {
  height: 55px;
  width: 110px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  transition: all 0.5s;
}

nav ul {
  padding: 0;
  display: flex;
  backdrop-filter: inherit;
  justify-content: center;
  margin: 13px;
}

nav ul li {
  list-style: none;
  margin: 5px 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 23px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  margin: 10px;
  justify-content: center;
  font-family: "Josefin Sans", serif;
}

nav ul li a:hover {
  color: rgb(190, 65, 65);
}

.linkText {
  margin-left: 8px;
}

.hamburger {

  display: None;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 20px;
}


.hamburger div {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 6px;
  transition: all 0.2s;
}



@media (max-width: 800px) {
  .header.isOpen {
    height: 320px;
    display: flex;
    align-items: start;
    transition: all 0.4s;
    background-color: rgba(40, 40, 40, 0.8);
    border-bottom: 6px solid rgb(211, 75, 75);
    backdrop-filter: blur(5px);
  }

  .hamburger.isOpen div:nth-child(1) {
    transform: rotate(45deg) translate(6px, 8px);
  }

  .hamburger.isOpen div:nth-child(2) {
    opacity: 0;
    transform: translate(15px, 0px);
  }

  .hamburger.isOpen div:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -8px);
  }
  .header.isClose {
    height: 70px;
    transition: all 0.4s;
  }

  .linkText {
    display: none;
  }

  nav ul {
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    margin-top: 50px;
    transition: all 0.5s;
    margin-right: 60px;
  }

  nav ul.active {
    max-height: 300px; /* メニューの最大高さを設定 */
    opacity: 1;
  }

  nav ul li a:hover {
    color: rgb(190, 65, 65); /* ホバー効果を適用 */
  }

  nav ul.active {
    max-height: 300px; /* メニューの最大高さを設定 */
  }

  .hamburger {
    display: block;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
