.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(40, 40, 40, 0.8);
  color: white;
  position: fixed; /* 位置を固定 */
  width: 100%;
  z-index: 99;
  height: 70px;
  border-bottom: 6px solid rgb(211, 75, 75);
  backdrop-filter: blur(5px);
}

.header.isOpen {
  border-bottom: none;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.logo img {
  height: 55px;
  width: 110px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  backdrop-filter: inherit;
  backdrop-filter: blur(5px);
}

nav ul li {
  list-style: none;
  margin: 5px 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  transition: all 0.4s;
  margin: 10px;
  justify-content: center;
  font-family: "Josefin Sans", serif;
}

nav ul li a:hover {
  color: rgb(190, 65, 65);
}

.linkText {
  margin-left: 8px;
}

.icon {
  display: none;
}
nav ul.active {
  display: flex;
  max-height: 300px; /* メニューの最大高さを設定 */
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px;
  transition: all 0.3s;
}

@media (max-width: 800px) {
  .linkText {
    display: none;
  }

  .icon {
    display: inline;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgba(40, 40, 40, 0.8);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    border-bottom: 6px solid rgb(211, 75, 75);
    animation: fadeIn 0.4s ease-out forwards;
    backdrop-filter: blur(5px);
  }

  nav ul.active {
    display: flex;
    max-height: 300px; /* メニューの最大高さを設定 */
    opacity: 1;
    animation: fadeIn 0.5s ease-out forwards;
  }

  nav ul li a:hover {
    color: rgb(190, 65, 65); /* ホバー効果を適用 */
  }

  nav ul.active {
    display: flex;
    max-height: 300px; /* メニューの最大高さを設定 */
  }

  .hamburger {
    display: flex;
    margin-right: 20px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
