:root {
  --font-family-primary: "Noto Sans JP", serif;
  --height: 100svh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.APP {
  width: 100%;
  height: 100vh;
  font-size: 18px;
}

p {
  word-break: keep-all;
  overflow-wrap: anywhere;
}

.container {
  padding: 0; /* 余白を取り除く */
  margin: 0; /* 余白を取り除く */
  position: relative; /* 相対位置に設定 */
  align-items: center;
  justify-content: center;
}

.page-top-image {
  width: 100%; /* 横幅を100%に設定 */
  min-height: 300px; /* 最低限表示させる高さを設定 */
  max-height: 500px;
  position: relative; /* 相対位置に設定 */
  height: auto; /* 高さを画面の高さに設定 */
  display: block;
  margin: 0; /* 余白を取り除く */
  object-fit: cover; /* 画像をコンテナにフィットさせる */
  background-size: cover; /* 画像をカバーする */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像を繰り返さない */
}

img {
  width: 300px;
  height: 500px;
}

.section-subheading {
  font-size: 30px;
  margin-top: 40px;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 100vh;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 50px; /* フォントサイズを指定 */
}

.page-title {
  text-align: center;
  padding: 30px 5%;
  font-family: Sawarabi Gothic;
  width: auto;
  letter-spacing: 3px;
  border-bottom: 3px solid #000;
}

.page-content {
  text-align: center;
  padding: 30px 5%;
  font-family: Sawarabi Gothic;
  width: auto;
  letter-spacing: 5px;
}

.blue-text {
  color: rgb(20, 20, 110); /* テキストを赤色に設定 */
}

.red-text {
  color: rgb(211, 75, 75); /* テキストを赤色に設定 */
}

.fade-effect {
  animation: fadeInOut 5s infinite;
}
/* 共通のスタイル */
h1,
h2,
h3,
h4 {
  text-align: center; /* テキストを中央揃え */
  display: inline-block; /* テキストが縦に並ばないようにする */
  margin: 0; /* マージンをリセット */
}
h1 {
  font-size: 3rem; /* 600px以上の画面幅の場合のフォントサイズ */
}

h2 {
  font-size: 2.5rem; /* 600px以上の画面幅の場合のフォントサイズ */
}

h3 {
  font-size: 2rem; /* 600px以上の画面幅の場合のフォントサイズ */
}

h4 {
  font-size: 1.5rem; /* 600px以上の画面幅の場合のフォントサイズ */
}

.Home-top-grad {
  display: flex;
  width: 100%;
  height: var(--height);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Home-grad-animation {
  position: absolute;
  width: 100%;
  height: var(--height);
  background: linear-gradient(0deg, #0cb1c1, #3948b9, #224b8f);
  background-size: 200% 200%;
  animation: Grad 15s ease infinite;
  top: 0;
  left: 0;
  z-index: -2;
}

.Home-kawachi-animation {
  position: absolute;
  width: 100%;
  height: var(--height);
  top: 0px;
  left: 0;
  z-index: -1;
  opacity: 1;
  filter: blur(2px);
}

.Home-top-title {
  font-size: 8vh;
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  color: #fff;
  margin-left: 40%;
  margin-bottom: 0;
  letter-spacing: 4px;
}

.Home-top-text {
  font-size: 3vh;
  font-family: "Noto Sans JP", serif;
  letter-spacing: 1px;
  font-weight: 400;
  color: #fff;
  margin-left: 40%;
}

@keyframes Grad {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

/* 点滅効果を定義 */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 点滅効果を適用するクラス */
.blink {
  animation: blink 1.5s infinite;
  display: inline-block; /* インラインブロックに設定 */
  width: 0; /* 幅を0に設定 */
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInFromLeft 0.3s ease-out;
}

.scroll-arrow {
  position: absolute;
  top: 90svh;
  transform: translateX(-50%);
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  animation: bounce 2s infinite;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.scroll-arrow.visible {
  opacity: 1;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes wide {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.topic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans JP", serif;
  margin: 0% 15% 5% 15%;
  font-weight: 300;
  font-size: 1.5rem;
  word-break: keep-all;
  overflow-wrap: anywhere;
  line-height: 2;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.topic-container.visible {
  opacity: 1;
}

.Home-sub-title {
  font-size: 3.5rem;
  font-family: "Noto Sans JP", serif;
  font-weight: 800;
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, #0cb1c1, #3948b9, #224b8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  word-break: keep-all;
  overflow-wrap: anywhere;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  border-bottom: 3px solid #3948b9;
  transition: opacity 3s ease-in-out;
  padding: 2svh 0;
}

.Home-sub-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; /* 上塗りする図形の色 */
  transform: translateX(0%);
  transition: transform 2s ease-in-out; /* トランジションを追加 */
}

.Home-sub-title.visible::before {
  transform: translateX(100%);
}

.Home-sub-title.visible {
  opacity: 1;
  transform: translateX(0%);
  margin: 10px 5%;
}

.Home-sub-title.visible::after {
  width: 100%;
}

/* レスポンシブデザインのためのメディアクエリ */
@media (max-width: 950px) {
  h1 {
    font-size: 2rem; /* デフォルトのフォントサイズ */
  }

  h2 {
    font-size: 1.5rem; /* デフォルトのフォントサイズ */
  }

  h3 {
    font-size: 1.2rem; /* デフォルトのフォントサイズ */
  }

  h4 {
    font-size: 1.1rem; /* デフォルトのフォントサイズ */
  }

  :root {
    --height: 100svh;
  }

  .Home-top-grad {
    height: var(--height);
  }

  .scroll-arrow {
    top: 85svh;
  }

  .Home-top-title {
    margin-left: 0;
    margin-bottom: 0;
    font-size: 6svh;
    text-align: center;
  }
  .Home-top-text {
    font-size: 2vh;
    font-weight: 600;
  }
  .Home-top-text {
    margin-left: 0;
  }
  .topic-container {
    flex-flow: column;
  }
  .Home-sub-title {
    font-size: 2.5rem;
  }
  .scroll-arrow {
    font-size: 2rem;
  }
  .topic-container {
    margin: 2% 5%;
    font-size: 1.2rem;
  }
}
